{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
  ],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true, "trailingComma": "es5" }],
    "@typescript-eslint/camelcase": ["error", { "properties": "never" }]
  }
}
